/* About */

.about {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    text-align: center;
    width: 50%;
  }
  
  .about-text h1 {
    text-decoration: underline;
  }
  
  .about img {
    height: 70%;
    padding: 1rem;
    background-color: white;
    border-radius: 3rem;
  
  }



@media screen and (max-width: 1000px) {
  
  
    .about {
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: auto;
      font-size: 3rem;
      align-items: center;
    }
  
    .about-text {
      font-size: 2.5rem;
      width: 90%;
    }
    .about img {
      padding: 1rem;
      width: 70%;
      height: auto;
    }
}