
  /* Contact */
  
  .contact-section {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  
  
  @media (orientation: portrait ) {
  

  
  
    .contact-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    

  
    
  }