.contact-form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(36, 36, 36);
}
  
.contact-form form {

  width: 40vw;
    flex-direction: column;
    display: flex;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

label {
  font-weight: bold;
}

/* non button inputs */
.input {
    height: 0.5rem;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.messageInput {
    height: 5rem;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}



.submit-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(124, 181, 55);
    color: white;
    height: 3rem;
    border-color: white;
    border-radius: 3rem;
    font-weight: bold;
    width: 30%;
    align-self: center;
}

.submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
  
@media (orientation: portrait ) {
  

    
    .contact-form {
      border-radius: 1rem;
      
      width: 90vw;
      display: flex;
      justify-content: center;
    
      align-items: center;
      flex-direction: column;
      font-size: 3rem;
  
      
    }
    
    .contact-form label {
      font-size: 3rem;
    }
  
    .contact-form input {
      height: 3rem;
      font-size: 3rem;
  
    }
  
    .submit-button {
      width: 100%;
      font-size: 1rem;
    }
  
    
  }