.contact-form {
    background-color: white;
    width: 40vw;
    height: 60vh;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}
  
.contact-form form {
    flex-direction: column;
    display: flex;
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}
  
.input {
    height: 0.5rem;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.submit-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: grey;
    color: white;
    height: 2rem;
    border-color: white;
    border-radius: 1rem;
    font-weight: bold;
}

.submit-button:hover {
    background-color: green;
    cursor: pointer;
}
  
  @media screen and (max-width: 1000px) {
  

    
    .contact-form {
      border-radius: 1rem;
      
      width: 90vw;
      display: flex;
      justify-content: center;
    
      align-items: center;
      flex-direction: column;
      font-size: 3rem;
  
      
    }
    
    .contact-form label {
      font-size: 3rem;
    }
  
    .contact-form input {
      height: 3rem;
      font-size: 3rem;
  
    }
  
    .submit-button {
      height: 8rem;
    }
  
    
  }