html {
  scroll-behavior: smooth;
}

body {
  
  margin: 0;
  background-color: lightgrey;
  color: rgb(36, 36, 36);
  font-family: Helvetica;
  letter-spacing: 0.1rem;
}

/* Navbar */

.navbar {
  background-color: transparent;
  color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
}

.navbar ul {
  list-style: none;
  margin: 1rem;
  display: flex;
}

.navbar li {
  margin: 1rem;
}

.navbar a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  padding: 1rem;
}

.navbar a:hover {
  background-color: darkgray;
  border-radius: 1rem;
}

.nav-left {
  font-size: 2rem;
  margin: 2rem;
  font-weight: bold;
}

/* Home */

.main-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin: 10%;
  margin-bottom: 0;
}

.main-page img {
  width: 35vw;
  padding: 1rem;
  background-color: white;
  margin-left: 5vw;
  border-radius: 3rem;
}

.main-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Home - Stats Component */

.stats-container {
  margin: 5rem;
  background-color: rgb(36, 36, 36);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-weight: bold;
}


.stats-container li {
  margin-right: 2rem;
  padding: 1rem;

}

.stats-container li:hover {
  background-color: rgb(80, 80, 80);
  border-radius: 5rem;
  cursor: default;
}



.stats-container ul {
  list-style: none;
  display: flex;
}


/* About */

.about {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  text-align: center;
  width: 50%;
}

.about-text h1 {
  text-decoration: underline;
}

.about img {
  height: 70vh;
  padding: 1rem;
  background-color: white;
  border-radius: 3rem;

}

/* Contact */

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  background-color: white;
  width: 40vw;
  height: 60vh;
  border-radius: 1rem;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  color: black;
  
}

.contact-form form {
  flex-direction: column;

  display: flex;
  background-color: black;
  color: white;
  padding: 2rem;

  border-radius: 1rem;

}

.input {
  height: 0.5rem;
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: grey;
  color: white;
  height: 2rem;
  border-color: white;
  border-radius: 1rem;
  font-weight: bold;
}

.submit-button:hover {
  background-color: green;
  cursor: pointer;
}

/* Footer styling */
footer {
  background-image: linear-gradient(#d3d3d3, white, white, white,  white);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}

footer div {
  margin-top: 1rem;
}


/* Mobile devices */

.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  height: 5rem;
}

.toggle-button .bar {
  height: 0.75rem;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}


@media screen and (max-width: 1000px) {





  .navbar-links {
    display: none;
    

  }


  
  .toggle-button {
    display: flex;
  }


  /* TEMPORARY - mobile screen width is broken */
  body {
    width: 110%;
  }
  /* TEMPORARY ------------------------------- */

  .main-container {
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
  }

  .main-container img {
    width: 90vw;
  }

  .stats-container {
    font-size: 2rem;
    margin: 0;
    margin-top: 5rem;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
  }


  .about {
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    font-size: 3rem;
    align-items: center;
  }

  .about-text {
    font-size: 2.5rem;
    width: 90%;
  }
  .about img {
    padding: 1rem;
    width: 70%;
    height: auto;
  }
 
  .nav-left {
    font-size: 5rem;
  }

  footer {
    height: 10vh;
    font-size: 2.5rem;
  }

  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-form {
    border-radius: 1rem;
    
    width: 90vw;
    display: flex;
    justify-content: center;
  
    align-items: center;
    flex-direction: column;
    font-size: 3rem;

    
  }
  
  .contact-form label {
    font-size: 3rem;
  }

  .contact-form input {
    height: 3rem;
    font-size: 3rem;

  }

  .submit-button {
    height: 8rem;
  }

  footer {
    margin-bottom: 15vh;
  }
}